<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home-container">
    <div class="home-content">
      <h1 class="app-title">Quiz de AWS</h1>
      <p class="app-subtitle">Ponte a prueba con preguntas aleatorias sobre AWS Cloud Practitioner</p>
      <ion-button expand="block" size="large" (click)="startQuiz()">
        Comenzar Quiz
      </ion-button>
    </div>
  </div>
</ion-content>
